.App {
  text-align: center;
  font-size: 40px;
}

.animals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.animals * {
  width: 400px;
}

.header {
  width: 100%;
  height: 100px;
  background: darkcyan;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
